@import 'nib'

lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayer = #aaa
darkgray = #666
darkergray = #333
red = #f00
whitealpha = rgba(255,255,255,0.75)

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: 'utopia-std', serif
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  color: darkergray
  background: url('/img/background.png') no-repeat center 50px fixed

a
  color: red
  text-decoration: none
  border-bottom: 1px solid red
  &:hover
    color: black
    border: 0

img
  display: block

button
  height: 60px
  width: 300px
  background: darkgray
  border: 0
  color: white
  cursor: pointer
  font-size: 30px
  font-family: sans-serif
  font-weight: bold
  outline: none
  &:hover
    background: black

.holder
  clearfix()
  width: 900px
  margin: 0 auto

header
  padding: 100px 0 50px
  h1
    font-weight: 600
    font-size: 60px
    line-height: 1em
  h2
    font-family: sans-serif
    font-size: 20px
    line-height: 1em
    font-weight: 400

#content
  margin-bottom: 50px
  .form
    .line
      clearfix()
      position: relative
      margin-bottom: 20px
      label
        font-size: 30px
        line-height: 1em
        display: block
        margin-bottom: 5px
        width: 300px
      input
        width: 300px
        height: 60px
        border: 3px solid grayer
        background: whitealpha
        outline: none
        font-size: 40px
        font-family: sans-serif
        font-weight: bold
        color: darkergray
        padding: 0 5px
        float: left
        &:focus
          border-color: darkergray
      .loading
        float: left
        width: 32px
        height: 32px
        margin: 14px
        background: url('/img/loading.gif')
        text-indent: -9999px
      #places
        position: absolute
        top: 95px
        background: lightgray
        list-style: none
        font-family: sans-serif
        z-index: 10
        li
          min-width: 300px
          font-size: 20px
          height: 40px
          line-height: 40px
          border-bottom: 1px solid white
          padding: 0 10px
          font-weight: bold
          cursor: pointer
          &:hover
            background: gray
          &:last-child
            border: 0
  #position
    p
      font-size: 30px
      &.error
        color: red
  #result
    div
      border: 1px solid gray
      padding: 20px
      width: 600px
      border: 3px solid grayer
      background: whitealpha
      margin-bottom: 20px
      h3
        font-size: 30px
        font-family: sans-serif
        margin-bottom: 10px
      p
        font-size: 20px
        line-height: 1.4em

footer
  padding-bottom: 100px
  p
    font-family: sans-serif
    font-size: 15px
    line-height: 1.4em
    margin-bottom: 10px
    &:last-child
      margin: 0